Flask==2.3.3
flask-cors==3.0.10
Scrapy==2.6.2
requests==2.31.0
trafilatura==2.0.0
pytest==7.4.0
python-dotenv==1.0.0 # Only used to run Scrapy from the command line. Has little significance in the actual code.
firebase-admin==6.1.0
json==2.0.9



