.appcontainer {
  width: 100vw;
  min-height: 100vh; 
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll; 
  margin-top: -20px;
}

.reviewsContainer {
  display: flex;
  padding: 20px;
  background: #1e2a38;
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
}

.searchBar {
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.searchInput {
  width: 100%;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.searchContainer {
  width: 40vw;
  animation: fadeIn 0.6s ease-out forwards;
}

.analysisContainer {
  background: #1e2a38;
  color: #fff;
  width: 60vw;
  position: relative;
}

.reviewImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 3px solid black;
  display: block;
}

@media (max-width: 1650px) {
  .reviewImage {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 1400px) {
  .reviewImage {
    width: 130px;
    height: 130px;
  }
}

.searchButton {
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #5a5a5a;
  transition: background-color 0.35s ease;
}

.searchButton:hover {
  background-color: #b5b6b8;
}

.searchIcon {
  font-size: 25px; 
}

.productList {
  width: 100%; 
  min-width: 44rem;
  animation: fadeIn 0.4s ease-out forwards;
}

@media (max-width: 1750px) {
  .productList {
    min-width: 0;
  }
}

.productItem {
  position: relative; 
  overflow: visible; 
  display: flex;
  align-items: center; 
  padding: 10px;
  border-bottom: 1px solid #ccc; 
  padding: 15px 50px 15px 10px;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

@media (max-width: 1550px) {
  .productInfoContainer {
    width: 65%;
  }
}

.productName {
  font-size: 30px;
  margin-bottom: 1rem;
}

@media (max-width: 1500px) {
  .productName {
    font-size: 25px;
  }
}

.analyzeButton {
  min-width: 137px;
  padding: 4px 12px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  transition: background-color 0.35s ease;
  color:#000;
}

@media (max-width: 1340px) {
  .analyzeButton {
    min-width: 120px;
    font-size: 15px;
  }
}


@media (max-width: 1220px) {
  .analyzeButton {
    min-width: 100px;
    font-size: 12px;
  }
}

.analyzeButton:hover {
  background-color: #b5b6b8;
}

.productActions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}

.reviewSources {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 1460px) {
  .reviewSources {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 1360px) {
  .reviewSources {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}


.reviewSourceText {
  font-size: 18px;
  color: #ccc;
  white-space: nowrap;
}

@media (max-width: 1340px) {
  .reviewSourceText {
    font-size: 16px;
  }
}

.reviewLinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffffff;
  color: #000;
  border-radius: 50%; 
  border: none;
  transition: background-color 0.35s ease;
}

.reviewLinkButton:hover {
  background-color: #999999;
  color: #000;
}


@media (max-width: 1280px) {
  .reviewLinkButton {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}

@media (max-width: 1240px) {
  .reviewLinkButton {
    width: 22px;
    height: 22px;
    font-size: 12px;
  }
}

.analyzedStars {
  text-align: center;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.starAnalyzed {
  font-size: 25px;
  margin-right: 2px;
}

@media (max-width: 1340px) {
  .starAnalyzed {
    font-size: 23px;
  }
}

@media (max-width: 1300px) {
  .starAnalyzed {
    font-size: 21px;
  }
}

.filledStarAnalyzed {
  color: #ffd900;  
}

.halfStarAnalyzed {
  color: #ffd900; 
}

.emptyStarAnalyzed {
  color: #ccc; 
}

.analyzeButton.analyzedState {
  background-color: #999;
  color: #eee;
  cursor: pointer; 
}

.inlineRating {
  display: flex;
  align-items: center;
  gap: 3px;
}

.analyzedRating {
  font-size: 16px;
  color: #d4d3d3;
}

@media (max-width: 1340px) {
  .analyzedRating {
    font-size: 14px;
  }
}

@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signoutBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  color: #000000;
  background: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 9999;
  animation: fadeIn 0.6s ease-out forwards;
  transition: background-color 0.35s ease;
}

.signoutBtn:hover {
  background-color: #b5b6b8;
}
